<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>获取月份天数</title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		请输入一个月份：
		<div id="app">
			<input v-model="message"/>
			<p v-for="(item) in one"><span v-if="item.month==message">31天</span></p>
			<p v-for="(item) in two"><span v-if="item.month==message">30天</span></p>
			<p v-for="(item) in three"><span v-if="item.month==message">28天</span></p>
		</div>
		<script type="text/javascript">
			var v=new Vue({
				el:'#app',
				data:{
					message:'',
					one:[{month:'1'},{month:'3'},{month:'5'},{month:'7'},{month:'8'},{month:'10'},{month:'12'}],
					two:[{month:'4'},{month:'6'},{month:'9'},{month:'11'}],
					three:[{month:'2'}]
				}
			})
		</script>
	</body>
</html>